#header{
    background-color: #563d7c;
    padding-left: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}


.bd-navbar .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #fff;
}

#app_name{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #fff;

}


.example-form {
  min-width: 190px;
  max-width: 900px;
  width: 100%;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  color:gray;
  margin-top: 20px;
  }
  
  .example-full-width {
    width: 100%;
  }
  
 .spinner_overlay {
    position: fixed;
    display: flex; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;

}
.loading_gif{
  opacity: 0.9;
}