<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>

  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('/assets/img/bg_1.jpg');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h3>Sign in</h3>
            <form form #loginForm="ngForm" class="login-form" (ngSubmit)="login(loginForm)">
              <div class="form-group first">
                <label for="username">Enter Username</label>
                <input type="text" #username="ngModel" ngModel name="username" class="form-control" placeholder="example@gmail.com" required>

                <div *ngIf="username && (username.dirty || username.touched)" class="emsg">
                  <div *ngIf="username.errors?.['required']">
                    <span> Please enter username.</span>
                  </div>
                  </div>

              </div>
              <div class="form-group last mb-3">
                <label for="password">Enter Password</label>
                <input type="password" class="form-control" #password="ngModel" ngModel name="password" placeholder="Your Password" required>
            
                <div *ngIf="password && (password.dirty || password.touched)" class="emsg">
                  <div *ngIf="password.errors?.['required']">
                    <span> Please enter password.</span>
                  </div>
        
                  </div>
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto"><a href="/forget-password" class="forgot-pass">Forgot Password</a></span> 
              </div>

              <div class="d-flex mb-5 align-items-center">
                <span class="control control--checkbox mb-0"><a href="/signup" class="forgot-pass">Sign up</a></span> 
              </div>

              <input type="submit" [disabled]="loginForm.form.invalid" value="Sign in" class="btn btn-block btn-primary">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  </body>
</html>