<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  </head>
  <body>

  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('/assets/img/bg_1.jpg');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <div class="mb-4">
              <h3>Sign In</h3>
            </div>
            <form #loginForm="ngForm" class="login-form">
              <div class="form-group first">
                <label for="username">Enter Username</label>
                <input type="text" #username="ngModel" ngModel name="username" class="form-control" required>

				<div *ngIf="username && (username.dirty || username.touched)" class="emsg">
					<div *ngIf="username.errors?.['required']">
						<span> Please enter username.</span>
					</div>
				  </div>

              </div>
              <div class="form-group last mb-3">
                <label for="password">Password</label>
                <input type="password" name="password" #password="ngModel" ngModel class="form-control" required>

				<div *ngIf="password && (password.dirty || password.touched)" class="emsg">
					
					<div *ngIf="password.errors?.['required']">
						<span> Please enter password.</span>
					</div>

				  </div>

              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto"><a href="/forget-password" class="forgot-pass">Forgot Password</a></span> 
              </div>

              <input type="submit" [disabled]="loginForm.form.invalid" value="Log In" class="btn btn-block btn-primary">

              <span class="d-block text-center my-4 text-muted">&mdash; or &mdash;</span>
              
              <div class="social-login">
        
                <a href="#" class="google btn d-flex justify-content-center align-items-center">
                  <span class="icon-google mr-3"></span> Login with  Google
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  </body>
</html>