
<div class="modal show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false"
style="display: block; padding-left: 17px;"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Email Sent Successfully</h5>
        
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">We have sent an email to reset password. Please check your email inbox.</label>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Note: Please Reset your Password at mentioned time only</label>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" disabled="true">Close</button>
        <a href="/signin" class="btn btn-primary">Sing in</a>
      </div>

    </div>
  </div>
</div>