<!doctype html>
<html lang="en">
  <head>

  </head>
  <body >

  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2 bgimg" style="background-image: url('/assets/img/bg_1.jpg');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container" id="rest_psd">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h4>Forget Password</h4>

            <div *ngIf="apiResponse.status === false" class="alert alert-danger" role="alert">
               {{apiResponse.msg}}
            </div>

            <form form #forgetPassword="ngForm" class="login-form" (ngSubmit) = "findAccount(forgetPassword.value)">
              <div class="form-group first">
                <input type="text" #email="ngModel" ngModel name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                 class="form-control" placeholder="Please enter email" required>

                <div *ngIf="email && (email.dirty || email.touched)" class="emsg">
                  <div *ngIf="email.errors?.['required']">
                    <span> Please enter email.</span>
                  </div>

                <div  *ngIf="email.errors && email.errors.pattern">
                    Please enter valid email
                </div>

                </div>
              </div>

              <input type="submit" [disabled]="forgetPassword.form.invalid" value="Submit" id="submit" class="btn btn-block btn-primary">

              <div class="d-flex mb-5 align-items-center" >
                <span class="control control--checkbox mb-0" id="signup"> <a href="/signin">Sign in</a></span>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  </body>
</html>